/*
* Full Screen mode and full screen trigger icons
*/

/* By default do not display the full screen button. */
.local-fullscreen,
.local-fullscreen-padding {
    display: none;
}

/* Full screen mode should have no effect below this resolution and not display during printing. */
@media screen and (min-width: 769px) {
    .local-fullscreen-padding {
        display: block;
        float: right;
        padding-left: 20px;
    }

    /* Boost no longer needs this to avoid an overlap with menus. */
    .local-fullscreen-classic.pagelayout-incourse .local-fullscreen-padding,
    .local-fullscreen-classic.pagelayout-coursecategory .local-fullscreen-padding {
        padding-right: 3.5rem;
    }

    .local-fullscreen {
        background: url([[pix:local_fullscreen|fullscreen]]) no-repeat center center;
        background-color: #fefefe;
        background-size: 20px;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
        cursor: pointer;
        display: block;
        float: right;
        padding: 20px;
        position: relative;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
        z-index: 10;
    }

    /** In Add/Edit chapter page */
    #page-mod-book-edit.local-fullscreen-classic .local-fullscreen {
        margin-right: 4rem;
    }

    .local-fullscreen:hover {
        background-color: #fff;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 1);
        box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    }

    /** When in fullscreen mode. */
    .fullscreenmode .local-fullscreen {
        background: url([[pix:local_fullscreen|fullscreen_collapse]]) no-repeat center center;
        background-color: #fefefe;
    }

    /** When the page is scrolled down */
    .local-fullscreen.float {
        background-color: #f9fafc;
        float: none;
        opacity: 1;
        position: fixed;
        right: 2%;
        top: 70px;
        z-index: 1001;
    }

    /**
     * When fullscreen mode is enabled we need to move the page navigation
     * down slightly compared to it's default position.
     */
    .fullscreenmode.path-mod-book #mod_book-chaptersnavigation {
        top: 110px;
    }
}

/* Full screen mode on Boost themes */
@media (min-width: 768px) {
    .local-fullscreen-boost.fullscreenmode.pagelayout-standard #page.drawers .main-inner,
    body.local-fullscreen-boost.fullscreenmode.limitedwidth #page.drawers .main-inner {
        max-width: initial;
    }

    /* We should not let the button ever overlap with the block drawer expansion tab. */
    .local-fullscreen-boost .local-fullscreen.float {
        right: 50px;
    }

    /* Move the fullscreen button when the block drawer is open. */
    .local-fullscreen-boost .show-drawer-right .local-fullscreen.float {
        right: 340px;
    }

    /**
     * When block drawer is open we need to move the page navigation
     * down slightly compared to it's default position even out of fullscreen mode.
     */
    .local-fullscreen-boost.path-mod-book .show-drawer-right #mod_book-chaptersnavigation {
        top: 110px;
    }
}

@media (min-width: 768px) and (max-width: 1028px) {
    /**
     * When the screen is narrow we should not overlap the page navigation.
     */
    .local-fullscreen-boost.path-mod-book #mod_book-chaptersnavigation {
        top: 110px;
    }
}

/* Full screen mode in Classic themes. */

/* Full screen mode should have no effect below this resolution. */
@media (min-width: 769px) {
    /* Styles for when full screen mode is active. */
    .local-fullscreen-classic.fullscreenmode.row-fluid .span4 {
        width: 50%;
    }
    html .local-fullscreen-classic.fullscreenmode,
    body .local-fullscreen-classic.fullscreenmode {
        height: inherit;
    }
    .local-fullscreen-classic.fullscreenmode .pull-right[class*="span"],
    .local-fullscreen-classic.fullscreenmode .row-fluid .pull-right[class*="span"] {
        float: none;
        clear: both;
    }
    .local-fullscreen-classic.fullscreenmode .push {
        display: none;
    }
    .local-fullscreen-classic.fullscreenmode .row-fluid .span9,
    .local-fullscreen-classic.fullscreenmode .row-fluid .span8 {
        width: 100%;
    }
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        min-width: 97.5%;
    }

    .local-fullscreen-classic.fullscreenmode .empty-region-side-post.used-region-side-pre #region-main,
    .local-fullscreen-classic.fullscreenmode .jsenabled.docked-region-side-post.used-region-side-pre #region-main {
        display: none;
    }

    .local-fullscreen-classic.fullscreenmode #region-main-box,
    .local-fullscreen-classic.fullscreenmode #page-content.blocks-post.blocks-pre #region-main-box,
    .local-fullscreen-classic.fullscreenmode #page-content.blocks-pre #region-main-box,
    .local-fullscreen-classic.fullscreenmode #page-content.blocks-post #region-main-box {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 1rem 1rem 1rem;
    }

    .local-fullscreen-classic.fullscreenmode #region-main,
    .local-fullscreen-classic.fullscreenmode #region-main.has-blocks,
    .local-fullscreen-classic.fullscreenmode #region-main.span8.pull-right,
    .local-fullscreen-classic.fullscreenmode #region-main-settings-menu,
    .local-fullscreen-classic.fullscreenmode #region-main-settings-menu.has-blocks,
    .local-fullscreen-classic.fullscreenmode.jsenabled.has_dock.has_dock_left_vertical.docked-region-side-post #region-main.span8.pull-right,
    .local-fullscreen-classic.fullscreenmode.empty-region-side-post.used-region-side-pre #region-main.span8,
    .local-fullscreen-classic.fullscreenmode.jsenabled.docked-region-side-post.used-region-side-pre #region-main.span8 {
        width: 100%;
    }

    .local-fullscreen-classic.fullscreenmode #block-region-side-post,
    .local-fullscreen-classic.fullscreenmode #block-region-side-pre {
        display: none;
    }
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        max-width: 100%;
    }

    .local-fullscreen-classic.fullscreenmode.has_dock.has_dock_left_vertical #region-main {
        min-width: 97.5%;
    }

    /* Expand the content area in full screen mode */
    .local-fullscreen-classic.pagelayout-course.fullscreenmode .navbar-inner,
    .local-fullscreen-classic.pagelayout-incourse.fullscreenmode .navbar-inner,
    .local-fullscreen-classic.pagelayout-course.fullscreenmode .container-fluid,
    .local-fullscreen-classic.pagelayout-incourse.fullscreenmode .container-fluid {
        max-width: 100%;
    }

    /* Remove block docking area. */
    body.has_dock.local-fullscreen-classic.fullscreenmode #dock {
        display: none;
    }

    body.has_dock.local-fullscreen-classic.fullscreenmode #page {
        padding-left: 0;
    }
}

@media (min-width: 2000px) {
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        min-width: 98%;
    }
}

@media (max-width: 1597px) {
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        min-width: 97%;
    }
}

@media (max-width: 1333px) {
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        min-width: 96%;
    }
}

@media (max-width: 1005px) {
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        min-width: 95%;
    }
}

@media (max-width: 807px) {
    .local-fullscreen-classic.fullscreenmode .container-fluid {
        min-width: 94%;
    }
}
